<!-- 
  ADMIN_BASE.HTML
  Базовый шаблон для панели администратора.
  Отличается от base.html шириной контейнера (container-fluid) и наличием
  блока `admin_navbar` для вставки навигационного меню администратора.
-->
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Панель Администратора - ЦОПП РАС</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    {% block extra_css %}{% endblock %}
</head>

<body>
    <header class="bg-white py-2 header-border">
        <div class="container-fluid px-4 d-flex justify-content-between align-items-center">
            <a class="brand-container text-decoration-none d-flex flex-row align-items-center gap-3" href="/">
                <img src="{{ url_for('static', filename='img/logoblue2.png') }}" alt="Логотип" height="45" class="brand-logo">
                <div class="d-flex flex-column justify-content-center">
                    <span class="brand-title lh-1 mb-1">Республики Крым</span>
                    <span class="brand-subtitle lh-1 text-muted">Региональная Аналитическая Система</span>
                </div>
            </a>
            <div class="d-flex align-items-center">
                <div class="d-flex flex-column align-items-end me-4">
                    <span class="navbar-text p-0 small fw-bold text-dark">{{ current_user.username }}</span>
                </div>
                <a href="{{ url_for('auth.logout') }}" class="btn btn-copp btn-sm px-3 text-white">Выйти</a>
            </div>
        </div>
    </header>

    {% block admin_navbar %}{% endblock %}
    
    <div class="container-fluid mt-2 mb-4">
        {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    {% block extra_js %}{% endblock %}
</body>

</html>
